.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 30px !important;
}
.stories-list {
  padding: 3% 20%;
}

.slick-prev,
.slick-next {
  z-index: 100;
}
.loader-container {
  padding: 3% 20%;
  text-align: center;
  font-size: 50px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
