.myprofile {
  padding: 1% 20%;
  background-color: #e9ecef;
  min-height: 100vh;
}
.profile-img {
  height: 120px;
  border-radius: 50%;
}
.profile-text-bold {
  font-weight: 500;
}
.stories-img {
  border-radius: 50%;
  height: 80px;
  padding: 5px;
  border: 1px rgb(218, 215, 215) solid;
}
.profile-name {
  font-weight: 300;
  margin-bottom: 0px;
}
.stories-border {
  display: flex;
  gap: 10px;
  padding: 10px;
  padding-top: 40px;
}
.profile-con {
  display: flex;
  gap: 60px;
  align-items: center;
}

.counts {
  display: flex;
  /* justify-content: space-between; */
  gap: 30px;
  /* width: 80%; */
}
.posts-header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  /* margin: 20px 0; */
}
.posts-con {
  padding: 10px;
}
.posts-border {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px grey solid; */
  gap: 20px;
}
.posts-img {
  width: 100%;
  object-fit: cover;
}
